body {
    background-color: #74db90;
}

.head {
    font-family: 'Bangers', cursive;
    font-size: 6em; 
    margin: 20px;
}

.nav__item {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    line-height: 1.7em;
    font-weight: bold;
    color: darkred;
}

a {
    text-decoration: none;
    
}

a:hover {
    color: #d6d6d6;
    font-size: 1.2em;
}